<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cat's info</title>
    <style>
    *{
        margin: 5px;
        padding:5px;
    }
    </style>
</head>
<body>
    <p>Name: <%= cat.name %></p>
    <p>Breed: <%= cat.breed %></p>
    <p>Age: <%= cat.age %></p>
    <p>Lifestyle: <%= cat.lifestyle %></p>
    <a href="edit/<%= cat.id %>">Edit</a><a href="destroy/<%= cat.id %>">Delete</a>
    <br>
    <a href="/">Go Back</a>
</body>
</html>